@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --content-color: #feffdf;
  --box-color: #dde0ab;
  --heading-font: "Libre Franklin", sans-serif;
  --content-font: "Libre Baskerville", serif;
}

.App header {
  color: var(--content-color);
  font-family: var(--heading-font);
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  margin: 35px 0;
}
