@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --content-color: #feffdf;
  --box-color: #dde0ab;
  --heading-font: "Libre Franklin", sans-serif;
  --content-font: "Libre Baskerville", serif;
}

.SearchResults h2 {
  color: var(--content-color);
  font-family: var(--content-font);
  text-align: center;
  text-transform: capitalize;
}

.SearchResults p {
  color: var(--content-color);
  font-family: var(--content-font);
  margin-top: -4px;
  margin-bottom: 15px;
}

.Meanings {
  background-color: rgba(221, 224, 171, 0.7);
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  margin: 30px;
}

.MeaningsSection h3 {
  color: white;
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
  text-transform: capitalize;
}

.meaningsHeading {
  color: white;
  font-family: var(--heading-font);
  margin-bottom: 8px;
}

.MeaningsSection .definition {
  color: white;
  font-size: 15px;
  text-align: left;
}

.MeaningsSection .definition::first-letter {
  text-transform: capitalize;
}

.MeaningsSection em {
  color: white;
  font-family: var(--heading-font);
  font-weight: 200;
  display: block;
  text-align: left;
  margin-bottom: 15px;
}

.MeaningsSection em::first-letter {
  text-transform: capitalize;
}

.Synonyms li {
  background-color: var(--content-color);
  border-radius: 10px;
  color: #97cba9;
  display: inline-block;
  font-family: var(--content-font);
  font-size: 13px;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 6px;
  padding: 5px;
}

.Synonyms li::first-letter {
  text-transform: capitalize;
}
